@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #1f1f21;
    --text-color: #fff;
    --main-color: #ffae00;
    --hover-color: #e1ab37;
}


body {
    background-color: var(--bg-color);
}

@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik/statik/Rubik-Bold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.custom-bullets {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.custom-bullets li::marker {
    color: #ffae00;
    /* Warna biru Tailwind */
    font-size: 1.2em;
}